{% extends "fgo_master_app/base.html" %}
{% block title %}{{ servant.name }} | FGOカルデアデータベース{% endblock %}

{% block main-title %}No. {{ servant.No }}　{{ servant.name }}{% endblock %}
{% block sub-title %}{{ servant.get_class_name_display }}{% endblock %}

{% block main %}

  <div class="detail-wrapper">
    <span class="detail-caption">ステータス</span>
    <div class="detail-main">
      <table width="100%">
        <tr>
          <td class="status">{% for _ in value|center:servant.rarity %}⭐{% endfor %}</td>
          <td class="status">HP {{ servant.max_HP }}</td>
        </tr>
        <tr>
          <td class="status">cost {{ servant.cost }}</td>
          <td class="status">ATK {{ servant.max_ATK }}</td>
        </tr>
        <tr>
          <td class="status">{{ servant.get_alignment1_display }}・{{ servant.get_alignment2_display }}／{{ servant.get_attribute_display }}</td>
          <td class="status">{{ servant.get_gender_display }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="detail-wrapper">
    <span class="detail-caption">宝具</span>
    <div class="detail-main">
      <p class="np-yomi">{{ servant.noble_phantasm.yomi }}</p>
      <p class="np-name">{{ servant.noble_phantasm.name }}</p>
      <table width="100%">
        <tr>
          <td>ランク</td>
          <td>{{ servant.noble_phantasm.rank }}</td>
        </tr>
        <tr>
          <td>種別</td>
          <td>{{ servant.noble_phantasm.anti }}</td>
        </tr>
      </table>
      <p>
        {{ servant.noble_phantasm.text }}
        {% for effect in servant.noble_phantasm.effect.all %}
          +{{ effect.text }}
        {% endfor %}
      </p>
    </div>
  </div>

  <div class="detail-wrapper">
    <span class="detail-caption">保有スキル</span>
    <div class="detail-main">
      <table width="100%">
        {% for skill in servant.active_skill.all %}
          <tr>
            <td>SKILL {{ forloop.counter }}</td>
            <td rowspan="2"><img src={{ skill.icon.url }}></td>
            <td>{{ skill.name }} {{ skill.rank }}</td>
          </tr>
          <tr>
            <td>CT {{ skill.CT }}</td>
            <td>
              {% for effect in skill.effect.all %}
                {{ effect.text }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="detail-wrapper">
    <span class="detail-caption">クラススキル</span>
    <div class="detail-main">
      <table width="100%">
        {% for skill in servant.passive_skill.all %}
          <tr>
            <td rowspan="2">SKILL {{ forloop.counter }}</td>
            <td rowspan="2">{{ skill.icon }}</td>
            <td>{{ skill.name }} {{ skill.rank }}</td>
          </tr>
          <tr>
            <td>
              {% for effect in skill.effect.all %}
                {{ effect.text }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <details>
    <summary>詳細データ</summary>
    <div class="detail-wrapper">
      <span class="detail-caption">イラストレーター・声優</span>
      <div class="detail-main">
        <table width="100%">
          <tr>
            <td>ILLUST</td>
            <td>{{ servant.illust }}</td>
          </tr>
          <tr>
            <td>CV</td>
            <td>{{ servant.cv }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="detail-wrapper">
      <span class="detail-caption">パラメーター</span>
      <div class="detail-main">
        <table width="100%">
          <tr>
            <td>筋力</td>
            <td>筋力パラメータ</td>
            <td>{{ servant.str }}</td>
            <td>耐久</td>
            <td>耐久パラメータ</td>
            <td>{{ servant.end }}</td>
          </tr>
          <tr>
            <td>敏捷</td>
            <td>敏捷パラメータ</td>
            <td>{{ servant.agl }}</td>
            <td>魔力</td>
            <td>魔力パラメータ</td>
            <td>{{ servant.mp }}</td>
          </tr>
          <tr>
            <td>幸運</td>
            <td>幸運パラメータ</td>
            <td>{{ servant.luk }}</td>
            <td>宝具</td>
            <td>宝具パラメータ</td>
            <td>{{ servant.np }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="detail-wrapper">
      <span class="detail-caption">ステータス</span>
      <div class="detail-main">
        <table width="100%">
          <tr>
            <td>レベル</td>
            <td>HP</td>
            <td>ATK</td>
          </tr>
          <tr>
            <td>Lv.1</td>
            <td>{{ servant.HP1 }}</td>
            <td>{{ servant.ATK1 }}</td>
          </tr>
          <tr>
            <td>Lv.10</td>
            <td>{{ servant.HP10 }}</td>
            <td>{{ servant.ATK10 }}</td>
          </tr>
          <tr>
            <td>Lv.20</td>
            <td>{{ servant.HP20 }}</td>
            <td>{{ servant.ATK20 }}</td>
          </tr>
          <tr>
            <td>Lv.30</td>
            <td>{{ servant.HP30 }}</td>
            <td>{{ servant.ATK30 }}</td>
          </tr>
          <tr>
            <td>Lv.40</td>
            <td>{{ servant.HP40 }}</td>
            <td>{{ servant.ATK40 }}</td>
          </tr>
          <tr>
            <td>Lv.50</td>
            <td>{{ servant.HP50 }}</td>
            <td>{{ servant.ATK50 }}</td>
          </tr>
          <tr>
            <td>Lv.60</td>
            <td>{{ servant.HP60 }}</td>
            <td>{{ servant.ATK60 }}</td>
          </tr>
          <tr>
            <td>Lv.70</td>
            <td>{{ servant.HP70 }}</td>
            <td>{{ servant.ATK70 }}</td>
          </tr>
          <tr>
            <td>Lv.80</td>
            <td>{{ servant.HP80 }}</td>
            <td>{{ servant.ATK80 }}</td>
          </tr>
          <tr>
            <td>Lv.90</td>
            <td>{{ servant.HP90 }}</td>
            <td>{{ servant.ATK90 }}</td>
          </tr>
          <tr>
            <td>Lv.100</td>
            <td>{{ servant.HP100 }}</td>
            <td>{{ servant.ATK100 }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="detail-wrapper">
      <span class="detail-caption">その他の性能</span>
      <div class="detail-main">
        <table width="100%">
          <tr>
            <td>スター発生率</td>
            <td>{{ servant.star_drop_rate }}</td>
          </tr>
          <tr>
            <td>スター集中率</td>
            <td>{{ servant.star_gather_rate }}</td>
          </tr>
          <tr>
            <td>即死率</td>
            <td>{{ servant.death_rate }}</td>
          </tr>
          <tr>
            <td>NP上昇基礎値（攻撃時）</td>
            <td>{{ servant.NP_with_attack }}</td>
          </tr>
          <tr>
            <td>NP上昇基礎値（被ダメ時）</td>
            <td>{{ servant.NP_gain_from_damage }}</td>
          </tr>
        </table>
      </div>
    </div>
  </details>

{% endblock %}
