{% extends "fgo_master_app/base.html" %}
{% block title %}サーヴァント一覧 | FGOカルデアデータベース{% endblock %}

{% block main-title %}サーヴァント一覧{% endblock %}
{% block sub-title %}Servant{% endblock %}

{% block main %}

  {% for servant in servants_list %}
    <div class="content-wrapper" onclick="openURL('{% url "servant-detail" servant.name_en|slugify servant.No %}')">
      <div class="content-icon">
        icon
      </div>
      <div class="content-main-name">
        {{ servant.name }}
      </div>
      <div class="content-sub-name">
        {{ servant.class_name }}
      </div>
    </div>
  {% endfor %}

{% endblock %}
