{% extends "fgo_master_app/base.html" %}
{% block title %}霊基一覧 | FGOカルデアデータベース{% endblock %}

{% block main-title %}霊基一覧{% endblock %}
{% block sub-title %}Card Data{% endblock %}

{% block main %}

  <div class="content-wrapper" onclick="openURL('{% url 'servant' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      サーヴァント
    </div>
    <div class="content-sub-name">
      Servant
    </div>
  </div>
  <div class="content-wrapper" onclick="openURL('{% url 'craft-essence' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      概念礼装
    </div>
    <div class="content-sub-name">
      Craft Essence
    </div>
  </div>
  <div class="content-wrapper" onclick="openURL('{% url 'command-code' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      コマンドコード
    </div>
    <div class="content-sub-name">
      Command Code
    </div>
  </div>
  <div class="content-wrapper" onclick="openURL('{% url 'mystic-code' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      魔術礼装
    </div>
    <div class="content-sub-name">
      Mystic Code
    </div>
  </div>
{% endblock %}
