{% extends "fgo_master_app/base.html" %}
{% block title %}トップメニュー{% endblock %}
{% load static %}

{% block main %}
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      霊基一覧
    </div>
    <div class="content-sub-name">
      Card Data
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      強化計画
    </div>
    <div class="content-sub-name">
      Synthesis Scheme
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      模擬戦闘
    </div>
    <div class="content-sub-name">
      Battle Simulator
    </div>
  </div>
{% endblock %}
