{% extends "fgo_master_app/base.html" %}
{% block title %}トップメニュー{% endblock %}
{% load static %}

{% block main %}
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <a class="content-main-name" href="{% url 'card-data' %}">
      霊基一覧
    </a>
    <div class="content-sub-name">
      Card Data
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <a class="content-main-name" href="{% url 'synthesis-scheme' %}">
      強化計画
    </a>
    <div class="content-sub-name">
      Synthesis Scheme
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-icon">
      icon
    </div>
    <a class="content-main-name" href="{% url 'battle-simulator' %}">
      模擬戦闘
    </a>
    <div class="content-sub-name">
      Battle Simulator
    </div>
  </div>
{% endblock %}
