{% extends "fgo_master_app/base.html" %}
{% block title %}FGOカルデアデータベース{% endblock %}

{% block main-title %}トップメニュー{% endblock %}
{% block sub-title %}Top Menu{% endblock %}

{% block main %}

  <div class="content-wrapper" onclick="openURL('{% url 'spirit-origin' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      霊基一覧
    </div>
    <div class="content-sub-name">
      Spirit Origin
    </div>
  </div>
  <div class="content-wrapper" onclick="openURL('{% url 'synthesis-scheme' %}')">
    <div class="content-icon">
      icon
    </div>
    <div class="content-main-name">
      強化計画
    </div>
    <div class="content-sub-name">
      Synthesis Scheme
    </div>
  </div>
  <div class="content-wrapper" onclick="openURL('{% url 'battle-simulator' %}')">
    <div class="content-icon">
      icon
    </div>
    <a class="content-main-name">
      模擬戦闘
    </a>
    <div class="content-sub-name">
      Battle Simulator
    </div>
  </div>
{% endblock %}
